.page {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  box-sizing: border-box;
  max-width: 880px;
  height: 100vh;
  margin: 0 auto;
  padding: 50px;

  background-color: black;

  font-family: 'SFPro-regular', ‘Arial’, sans-serif;
}
