.input-field__text-area {
  display: flex;

  width: 100%;
  max-width: 245px;
  margin-right: 5px;

  resize: none;

  border: none;
  outline: none;
}

.input-field__text-area[contenteditable]:empty::before {
  content: 'Ваше сообщение';

  color: gray;
}
