.card {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  border-radius: 10px;
  background-color: white;
  justify-items: center;
}
