.popup__container {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-flow: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 30%;
  min-width: 430px;
  max-width: 430px;
  padding: 35px;
  border-radius: 10px;
  background-color: white;
}
@media (max-width: 650px) {
  .popup__container {
    width: calc(100% - 38px);
    min-width: 0;
    max-width: none;
    padding: 22px;
  }
}
