.popup__input {
  width: 100%;

  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;

  font-size: 14px;
  line-height: 17px;
}
.popup__input:nth-child(1) {
  margin-bottom: 30px;
}
.popup__input:focus {
  outline: none;
}
